import struct

STRUCTS = {
{% for struct in structs %}
    {{ struct.name | tojson }}: {{ struct | tojson }},
{% endfor %}
}


def _default_value(field_type, structs):
    if field_type == "list":
        return []
    if field_type in structs:
        return {}
    if field_type == "int":
        return 0
    if field_type == "bool":
        return False
    if field_type == "float":
        return 0.0
    return ""


def serialize_value(value, type_name, structs):
    if type_name in structs:
        return serialize_struct(value, type_name, structs)
    if type_name == "int":
        return int(value).to_bytes(4, "big")
    if type_name == "string":
        encoded = str(value).encode("utf-8")
        return len(encoded).to_bytes(4, "big") + encoded
    if type_name == "bool":
        return (1 if value else 0).to_bytes(1, "big")
    if type_name == "float":
        return struct.pack(">f", float(value))
    raise ValueError(f"Unsupported type: {type_name}")


def serialize_field_value(value, field, structs):
    if field.get("type") == "list":
        return serialize_list(value, field.get("element_type"), structs)
    return serialize_value(value, field["type"], structs)


def serialize_list(value, element_type, structs):
    data = bytearray()
    if value is None:
        value = []
    data += len(value).to_bytes(4, "big")
    for item in value:
        data += serialize_value(item, element_type, structs)
    return data


def serialize_struct(obj, struct_name, structs):
    data = bytearray()
    struct = structs[struct_name]
    for field in struct.get("fields", []):
        if isinstance(obj, dict):
            value = obj.get(field["name"])
        else:
            value = getattr(obj, field["name"], None)
        if value is None:
            value = _default_value(field.get("type"), structs)
        data += serialize_field_value(value, field, structs)
    return data


def deserialize_value(data, offset, type_name, structs):
    if type_name in structs:
        return deserialize_struct(data, offset, type_name, structs)
    if type_name == "int":
        return int.from_bytes(data[offset:offset + 4], "big"), offset + 4
    if type_name == "string":
        length = int.from_bytes(data[offset:offset + 4], "big")
        offset += 4
        return data[offset:offset + length].decode("utf-8"), offset + length
    if type_name == "bool":
        return bool(int.from_bytes(data[offset:offset + 1], "big")), offset + 1
    if type_name == "float":
        return struct.unpack(">f", data[offset:offset + 4])[0], offset + 4
    raise ValueError(f"Unsupported type: {type_name}")


def deserialize_field_value(data, offset, field, structs):
    if field.get("type") == "list":
        return deserialize_list(data, offset, field.get("element_type"), structs)
    return deserialize_value(data, offset, field["type"], structs)


def deserialize_list(data, offset, element_type, structs):
    length = int.from_bytes(data[offset:offset + 4], "big")
    offset += 4
    items = []
    for _ in range(length):
        item, offset = deserialize_value(data, offset, element_type, structs)
        items.append(item)
    return items, offset


def deserialize_struct(data, offset, struct_name, structs):
    obj = {}
    struct = structs[struct_name]
    for field in struct.get("fields", []):
        value, offset = deserialize_field_value(data, offset, field, structs)
        obj[field["name"]] = value
    return obj, offset


{% for struct in structs %}
def serialize_{{ struct.name | lower }}(obj):
    return serialize_struct(obj, {{ struct.name | tojson }}, STRUCTS)


def deserialize_{{ struct.name | lower }}(data):
    obj, _ = deserialize_struct(data, 0, {{ struct.name | tojson }}, STRUCTS)
    return obj

{% endfor %}
